<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8">	
	<title>Was wollen wir heute essen?</title>
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui.js"></script>
	<script type="text/javascript" src="js/ui-sortable.js"></script>
	<script type="text/javascript" src="js/keymaster.min.js"></script>

    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>


	<script type="text/javascript" src="js/script.js"></script>

	<script type="text/javascript" src="//use.typekit.net/wpp1tda.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body ng-controller="AppController">

<div id="wrap">

	<div class="illustration">
		<a href=".">
		<img src="chef.svg" width="200px">
		<br>
		<img src="mustache.svg" class="mustache" width="200px">
		</a>
	</div>
	<h1 ng-hide="votemode || voted">Was möchtest du<br> zum Mittag essen?</h1>
	<h1 ng-show="voted">Yummmy!<br> Danke für deine Stimme!</h1>
	<div class="favorite" ng-show="maxVotes" ng-hide="votemode">
		
		<h4>— Heutiger Favorit ist <a href="{{maxVotes.url}}"><strong>{{maxVotes.name}} ({{maxVotes.votes.length}}) </strong></a>—</h4>
		
	</div>
	<div class="favorite" ng-hide="maxVotes || votemode">
		
		<h4>— Heute hat noch niemand abgestimmt! —</h4>
		
	</div>
	<div id="register"  ng-hide="votemode || voted">
		<div class="intro" ng-hide="votemode">
	
			<span>Wähle deinen Namen und danach die Lieferservices, auf die du Lust hast.</span>
		</div>
	
		<div class="foodform form-group form-inline" ng-hide="voted">
			<form ng-hide="votemode">
				<!--
					<input type="text" class="form-control big" ng-model="yourname" placeholder="Wie heißt du?" ng-keyup="validate()" autofocus="true" />
					<button type="submit" class="btn btn-warning btn-big" ng-click="startvoting()">Zur Abstimmung</button>
				-->
				<div ng-repeat="voter in voters" class="done"><img src="tick.svg" width="20px">{{voter}}</div>
				<button ng-repeat="notvoter in notvoters" class="btn btn-warning btn-big" ng-click="startvoting(notvoter)">{{notvoter}}</button>
			</form>
		</div>
	</div>
	<a ng-hide="votemode" class="solid" href="" ng-click="showServices()">Liste aller Lieferservices anzeigen</a>
	<span>{{message}}</span>
	<div ng-show="viewServices" id="services">
		<h1 ng-show="votemode">Okay {{yourname}}, <br>worauf hast du Lust?</h1>
		<h2>— Schmeckt gut —</h2>
		<ul id="foo">
			<li ng-hide="food.archived" ng-repeat="food in services | orderBy:'name'"><span ng-show="food.votes.length > 0" class="badge">{{food.votes.length}}</span><a ng-hide="yourname" href="{{food.url}}">{{food.name}}</a><a ng-show="yourname" ng-click="vote(food)">{{food.name}}</a>
				<a ng-hide="yourname" href="" class="remove" ng-click="downvote(food)"><img src="arrow-down.svg" width="20px"><span>Schmeckt nicht gut</span></a>
				<a ng-show="yourname" href="" class="remove plus" ng-click="vote(food)">+1<span>Ja, darauf habe ich Lust!</span></a>
				<br>	
		
				<span class="type">{{food.type}}</span>
				<br>
    	  		<span ng-show="yourname" ng-repeat="name in food.votes">{{name}}<span ng-hide="$last">, </span></span>
				
			</li>
		</ul>
		<form ng-show="votemode">
			<br>
		<br>
			<button class="btn btn-warning btn-big big" ng-click="stopvoting()">Okay, fertig.</button>
		</form>
	
		<h2>— Schmeckt nicht gut —</h2>
	
		<ul id="foo">
			<li ng-show="food.archived" ng-repeat="food in services | orderBy:'name'"><a href="{{food.url}}">{{food.name}}</a>
				<a href="" class="remove" ng-click="upvote(food)"><img src="arrow-up.svg" width="20px">
				</a>
				<a href="" class="remove pad" ng-click="remove(food)"><img src="delete.svg" width="20px">
					<span>Weg damit</span>
				</a>
				<br><span class="type">({{food.type}})</span>
				
			</li>
		</ul>
		<div ng-hide="votemode">
	
		<h2>— Lieferdienst hinzufügen —</h2>
		<div class="foodform form-group">
			<input id="nameInput" class="form-control big" type="text" placeholder="Wie heißt der Lieferdienst?" ng-model="newfood"/>
			<input id="typeInput" class="form-control big" type="text" placeholder="Was kann man da essen?" ng-model="newtype"/>
			<input id="urlInput" class="form-control big" type="text" placeholder="Link zum Menü?" ng-model="newurl"/>
			<button type="button" class="btn btn-warning big" ng-click="add()">Hinzufügen</button>
		</div>
		</div>
	</div>
</div>

<footer>
	<span>Illustration <a href="http://thenounproject.com/term/chef/6795/">Chef</a> von Polina Flegontovna auf <a href="">NounProject</a></span>
	<br>
	<span>Schrift <a href="http://www.type-together.com/Bree">Bree</a> von TypeTogether</span>
	<br>
	<span>Idee: <a href="www.florianschulz.info">Florian Schulz</a></span>
	<br>
	<br>
	<span><a href="" ng-click="reset()">Zurücksetzen</a></span>
</footer>
</body>
</html>
