<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8">	
	<title></title>
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui.js"></script>
	<script type="text/javascript" src="js/ui-sortable.js"></script>
	<script type="text/javascript" src="js/keymaster.min.js"></script>

	<script type="text/javascript" src="js/script.js"></script>

	<script type="text/javascript" src="//use.typekit.net/wpp1tda.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body ng-controller="AppController">

<div id="wrap">
	<div class="illustration">
		<img src="chef.svg" width="200px">
		<br>
		<img src="mustache.svg" class="mustache" width="200px">
	</div>
	<h1>What should we<br> eat today?</h1>
	<h1>—</h1>

	<ul id="foo" ui-sortable ng-model="data">
		<li ng-hide="food.archived" ng-repeat="food in data"><a href="{{food.url}}">{{food.name}}</a><a href="" class="remove" ng-click="downvote($index)">×</a><br><span class="type">{{food.type}}</span>
			
		</li>
	</ul>

	<h1>—</h1>
	<h4>Schmeckt nicht</h4>

	<ul id="foo" ui-sortable ng-model="data">
		<li ng-show="food.archived" ng-repeat="food in data"><a href="{{food.url}}">{{food.name}}</a><a href="" class="remove" ng-click="remove($index)">×</a>	<br><span class="type">({{food.type}})</span>
			
		</li>
	</ul>

	<h1>—</h1>
	<h4>Lieferdienst hinzufügen</h4>
	<div id="form" class="form-group form-inline">
		<input id="nameInput" class="form-control" type="text" placeholder="Wie heißt der Lieferdienst?" ng-model="newfood"/>
		<input id="typeInput" class="form-control" type="text" placeholder="Was kann man da essen?" ng-model="newtype"/>
		<input id="urlInput" class="form-control" type="text" placeholder="Link zum Menü?" ng-model="newurl"/>
		<button type="button" class="btn btn-warning" ng-click="add()">Hinzufügen</button>
	</div>
</div>

<footer>
	<span>Illustration<a href="http://thenounproject.com/term/chef/6795/">Chef</a> von Polina Flegontovna auf <a href="">NounProject</a></span>
	<span>Schrift <a href="http://www.type-together.com/Bree">Bree</a> von TypeTogether</span>
</footer>
</body>
</html>